<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.net.hylink.common">

    <application>
        <provider
            android:name=".InitContentProvider"
            android:authorities="${applicationId}.init-provider"
            android:exported="false"
            android:multiprocess="true" />

    </application>

</manifest>